/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header-image {
  width: 100%;
}
.more_info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
.header { text-align: center;
}
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task,
.task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.task-row {
  display: flex;
}
#incomplete-tasks,
#completed-tasks {
  margin:0;
  padding: 0px;
}
.tasks-items, .title {
  list-style:none;
}
.task-input,
.add,
.delete,
.edit,
.checkbox {
  outline:none;
}
.add,
.delete,
.edit {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.add:hover,
.edit:hover,
.delete:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
.new-task-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-input:focus {
  color: #333;
}

/* New Task */
.new-task-label {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.tasks-items {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-items > * {
  vertical-align: middle;
}

.tasks-items > .checkbox {
  margin: 0 10px;
}
.tasks-items > .task,
.task-items > .task-input {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks-items > .task-input {
  width: 226px
}
.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
#incomplete-tasks .task-input,
#completed-tasks .task-input {
  display:none
}

#incomplete-tasks .edit-mode .task-input,
#completed-tasks .edit-mode .task-input {
  display:inline-block;
  width:224px
}

#incomplete-tasks .edit-mode .edit-task-label,
#completed-tasks .edit-mode .edit-task-label {
  display:none;
}